h1{
    width: 616px;
    height: 32px;
    top: 529px;
    left: 107px;


}
p{
    width: 616px;
    height: 32px;
    top: 529px;
    left: 147px;


}

/* .btn{
    
    
    width: 164px;
    height: 68px;
    top: 650px;
    left:7px;

} */
/* .Hero-button{
   padding-block-end: 0%;

} */