.contact-page {
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 70px;
    height: 80vh;
  }
  
  h1 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    float: left;
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    /* float: left; */
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #c9a848;
  }
  