/* .data-container {
    margin: auto;
    padding: 1rem;
    width: 80%;
  }
  
  .data-item {
    background-color: #f5f5f5;
    border-radius: 4px;
    margin-bottom: 1rem;
    padding: 1rem;
  }
  
  .data-item p {
    margin: 0;
  }
   */
   .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #f8f8f8;
  }
  
  .card h3 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }
  
  .card p {
    margin: 0.5rem 0;
  }
  