.form-container {
    max-width: 400px;
    margin: 0 auto;
    height: 82vh;
  }
  
  .form {
    display: grid;
    grid-gap: 10px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type='date'],
  input[type='time'],
  input[type='number'],
  select {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px 20px;
    background-color:orange;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #c9a848;
  }
  